    body {
        background-color: #faf2e4;
        margin: 0% 10%;
        font-family:Lugrasimo, sans-serif;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    h1 {
        text-align: center;
        font-family: Lugrasimo, sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        color: #db4e0d;
        border-bottom: 2px solid #b47b00;
        margin-top: 30px;
    }
    h2 {
        color: #da7430;
        font-size: 1em;
	font-weight: bold;
    }
    h3 {
        color: #da7430;
        font-size: 1em;
	font-weight: bold;
    }

    a {
        text-decoration: none;
        color: #ec300f;
        font-weight: bold;
    }
    nav {
	border-bottom: 2px solid #b47b00;
    }
    a:visited {
  color: #e65f21;
    }
    a:hover,a:focus {
        color: #ff8009;
        text-decoration: underline;
    }
    a:active {
        color: #f15111;
    }

    ul{
        text-align: center;
    }
    ul li{
        display: inline;
        list-style-type: none;
        padding-right: 20px; 
    }

    footer {
        border-top: 1px solid #57b1dc;
        text-align: center;
        padding-top: 1em;
    }
    footer img {
    width: 40px;
    height: 40px;
    margin-left: .5em;
    margin-right: .5em;
    }