body {
  font-family: Georgia, serif;
  font-size: 100%;
  line-height: 175%;
  margin: 0 15% 0;
  background: #FAF2E5 url(Images/blackgoose_bg.png) no-repeat center 100px fixed;
}
header {
  margin-top: 0;
  padding: 3em 1em 2em 1em;
  text-align: center;
  /*background: rgba(255, 255, 255, .5) url(Images/orangedot.png) repeat-x center top;*/
  background: url(Images/orangedot.png) left top repeat-y, url(Images/orangedot.png) right top repeat-y, url(Images/goose_shadow.png) 90% bottom no-repeat;
  background-color: rgba(255, 255, 255, .5);
}

a {
  text-decoration: none;
  color: #CC5933;
}
a:visited {
  color: #cf836a;
}
a:hover,a:focus {
  color: #F8DF4B;
  background-color: #fff;
}
a:active {
  color: #f15111;
  background-color: #fff;
}
ul{
  text-align: center;
}
ul li{
  display: inline;
  list-style-type: none;
  padding-right: 20px; 
}

h1 {
  font: bold 1.5em Georgia, serif;
  text-shadow: .1em .1em .2em gray;
  color: #F69534;
}
h2 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .5em;
  text-align: center;
  color: #c60;
}
dt {
  font-weight: bold;
}
strong {
  font-style: italic;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#info p {
  font-style: italic;
}
.price {
  font-family: Georgia, serif;
  font-style: italic;
}
p.warning, sup {
  font-size: small;
}
.label {
  font-weight: bold;
  font-variant: small-caps;
  font-style: normal;
}

h2 + p {
  text-align: center;
  font-style: italic;
}