    html, body {
    margin: 0;
    height: 10%;
    }
    body {
        background-color: #CAF0F8;
        text-align: center;
        font-family: 'Noto Sans',sans-serif;
        font-size: 19px;
    }
    header {
        background-color: #03045E;
        margin: 0;
    }
    header li {
        background-color: #10126e;
        background-clip: padding-box;
        border-radius: 25px;
        padding: 15px;
        list-style-type: none;
        display: inline;
        transition: all 100ms ease-out;
    }
    h1 {
        color: #90E0EF;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
    }
    h2 {
        color: #03045E;
        margin: 0;
    }
    #intro {
        padding: 60px;
    }
    p {
        color: black;
        margin: 10%;
        margin-top: 0;
        margin-bottom: 0;
    }
    ul {
        text-align: center;
        word-spacing: 60px;
    }
    dl {
        display: grid;
        grid-template-rows: max-content auto;
        text-align: center;
        margin: 20%;
        margin-top: 0;
        margin-bottom: 0;

    }
    dt {
        color: #03045E;
        font-weight: bold;
        grid-row-start: 1;
        margin-left: 0;
    }
    dd {
        grid-row-start: 2;
        padding: 10px;
    }
    header a{
        color: #90E0EF;
        font-weight: bold;
        text-decoration: none;
    }
    header li:hover, header li:focus {
        transition: all 150ms ease-in;
        background-color: #2c2e9c;
        padding: 10px;
    }
    header li:active {
        transition: all 150ms ease-in;
        background-color: #09a5ff;
        padding: 10px;
    }
    a {
        color: #0105F2;
        font-weight: normal;
        text-decoration: none;
    }
    .padding{
        padding-top: 60px;
        padding-bottom: 100px;
    }
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #03045E;
        text-align: center;
        font-size: 15px;
        padding: 20px;
    }
    footer p {
        color: #fff;
    }
    footer a{
        color: #90E0EF;
    }
    footer a:hover {
        color: #24a4bb;
    }
    footer a:active {
        color: #0105F2;
    }
    #sad_dog {
        width: 10%;
        height: auto;
        border-radius: 50%;
    }
    dd img{
        width: 50%;
        height: auto;
        border-radius: 25%;

    }

