    body {
        font-family: 'TASA Orbiter', sans-serif;
        font-weight: normal;
        text-align: center;
        background-color: #F1FFFA;
        margin: 0% 20%;
        font-size: 20px;
        color: #454545;
        background-image: url(../Bistro/Images/Pattern.png);
        background-position: center;
        background-size: 250px;
    }
    p {
        padding: 10px;
        line-height: 2;
    }
    h1 {
        font-weight: bold;
        text-transform: uppercase;
        color: #785964;
        border-bottom: 8px solid #785964;
        margin-bottom: 0;
        padding-bottom: 0;

    }
    h2 {
        color: #785964;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        border-bottom: 8px solid #785964;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    dt {
        font-weight: bold;
        font-size: 19px;
        display: list-item;
        list-style-type: disc;
    }
    dd {
        font-weight: normal;
        font-size: 19px;
        margin-bottom: 10px;
        margin-left: 0;
    }
    ul {
        font-weight: normal;
        font-size: 19px;
        padding-left: 0;
        padding: 10px;
    }
    dl {
        padding: 10px;
    }
    ul li, dl dt{
        list-style-type: none;
        padding: 10px;
    }
    #links li{
        list-style-type: none;
        display: inline;
    }
    a {
        color: #b1486d;
        font-weight: bold;
        text-decoration: none;
    }
    a:visited {
        color: #863753;
    }
    a:hover, a:focus{
        color: #c03e6c;
        text-decoration: underline;
    }
    a:active {
        color: #785964;
    }

    #Images {
        text-align: center;
    }
    #Images img {
        border-radius: 25px;
        transition: all 100ms ease-out;
    }
    #Images img:hover, #Images img:active {
        transition: all 100ms ease-in;
        opacity: .9;
        transform: scale(0.9);
    }
    #Image-Distance {
        padding: 10px;
        word-spacing: 60px;
    }

    nav {
        text-align: center;
        font-weight: normal;
        font-size: 19px;
        color: #3b665b;
    }

    .box {
        background-color: #D5C7BC;
        border-radius: 25px;
        border-bottom: 8px solid #785964;
    }

    .Showcase {
        margin: auto;
        max-width: 70%;
        height: auto;
        display: flex;
        padding: 10px;
    }

    .margins {
        width: 90%;
        margin: auto;
    }

